.creditsMenu {
    display: grid;
    grid-template-columns: 60% 40%;
    border: .2rem solid rgb(99, 96, 96);
    border-radius: 5px;
    height: 23rem;
    max-height: 23rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    box-sizing: border-box;
}

.discord {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.developers {
    border-left: .2rem solid rgb(99, 96, 96);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.developers textarea {
    max-width: 100%;
    max-height: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    resize: none;
    scrollbar-width: thin;
    
}