.pageHeader {
  display: flex;
  border: 0.2rem solid rgb(99, 96, 96);
  margin: 1%;
  border-radius: 10px; 
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  margin-bottom: 1.5rem;
}
.pageHeader button {
  width: 50%;
}
