/* Global CSS */
@import './CSS/pageHeader.css';
@import './CSS/selectionMenu.css';
@import './CSS/sidePanel.css';
@import './CSS/credits.css';
@import './CSS/toggles.css';


#root {
  width: 100%;
  text-align: right;
  padding: 0.5rem;
  box-sizing: border-box;
  -webkit-app-region: drag;
}

.selectionMenu {
  visibility: visible;
}

.credits {
  visibility: visible;
}

button {
  border-radius: 5px;
  border: 0.2rem solid rgb(99, 96, 96);
  text-align: center;
  padding: .5rem;
  user-select: none;
}

button:hover {
  background-color: #333;
}